<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h3>予約詳細</h3>
    </div>
     <div class="col-12 mt-3 text-center content">
      <div>
        <label><strong>名前：</strong></label>
        <p style="display:inline;"><%= @reservation.user.last_name %><%= @reservation.user.first_name %></p>
      </div>
      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%=  @reservation.day.strftime("%Y年%m月%d日(%a)")%></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%=  @reservation.time.strftime( "%H:%M" ) %></p>
      </div>
    </div>
    <div class="col-12 text-center title">
    <h4><i class="fa-solid fa-triangle-exclamation"></i>注意事項<i class="fa-solid fa-triangle-exclamation"></i></h4>
        <p>予約日時の変更やキャンセルがございましたらDMのメッセージでご連絡をお願いいたします。</p>
        <p>無断キャンセルがあった場合はサイト利用に制限がかかります。<br>
           また、キャンセル料5000円を請求いたします。</p></div>
    <div class="col-12 text-right">
      <%= link_to '予約画面に戻る', reservations_path %>
    </div>
  </div>
</div>